<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbarinverse">
      <div class="container">
        <nav class="nav navbar-left">
          <span class="title">Bookers</span>
        </nav>
        <nav>
            <ul class="nav navber-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user), class:"btn btn-link" do %>
                  <i class="fas fa-home"></i>
                  <span> Home</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout</span>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class:"btn btn-link" do %>
                  <i class="fas fa-home"></i>
                  <span> Home</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to "/homes/about", class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"> Sign up</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true"> Log in</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
